@import "tailwindcss";

body {
  font-family: "Golos Text", serif;
  background-color: #090319;
}

.button-gradient {
  background: radial-gradient(133.18% 246.54% at 116.67% -52.08%, #C299FF 0%, #7C23FF 47%, #370088 83%), var(--Colors-Primary-Alpha-50, rgba(133, 51, 255, 0.50));
  border-radius: 999999px;
  border: 1px solid #7C23FF;
}
.shadow-hero {
  background: linear-gradient(
    to bottom,
    rgba(124, 35, 255, 0) 0%,  /* Transparencia arriba */
    #7b23ff99 22%,               /* Empieza el color sólido */
    #7b23ff99   80%,               /* Termina el color sólido */
    rgba(124, 35, 255, 0) 100% /* Transparencia abajo */
  ),
  url("/textura.svg");

}

.bg-service{
  
}

